@{
    ViewData["Title"] = "Home Page";

}
@model List<UserModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">E-Mail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Take(3))
                    {
                        <tr>
                            <td scope="row">@user.Name</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>Количество пользователей: @Model.Count</div>
        <table border="1">

        </table>
    </section>

</div>
