@{
    ViewData["Title"] = "Home Page";
    
}
@model List<UserModel>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Количество пользователей: @Model.Count</div>
    <table border="1">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td><td>@user.Email</td>
            </tr>
        }
        
    </table>

    <form action="/Home/AddUser" method="post">
        <input type="text" name="name" value="" placeholder="Имя" />
        <input type="text" name="email" value="" placeholder="E-Mail" />
        <input type="submit"/>
    </form>
</div>
